<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Thêm mới</title>
</head>
<body>
    <form class="container" method="post" th:action="@{/admin/createCategory}" th:object="${obj}">
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" th:field="*{name}" />
        </div>
        <div class="form-group">
            <label>Code</label>
            <input class="form-control" th:field="*{code}" />
        </div>
        <div class="form-group">
            <label>ParentCode</label>
            <select class="custom-select" th:field="*{parentCode}">
                <option selected value="">Chọn đi ...</option>
                <option th:each="item : ${lstParentCode}" th:value="${item}" th:text="${item}"></option>
            </select>
        </div>
        <div class="form-group">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="option1" name="option1" class="custom-control-input" th:value="true" th:field="*{active}">
                <label class="custom-control-label" for="option1">Active</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="option2" name="option2" class="custom-control-input" th:value="false" th:field="*{active}">
                <label class="custom-control-label" for="option2">Non Active</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Thêm mới</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>