<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Edit</title>
</head>
<body>
    <form class="container" method="post" th:action="@{/admin/updateCategory}" th:object="${object}">
        <input class="form-control d-none" id="id" name="id" th:value="${object.getId()}" th:errorclass="fieldError"/>
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" id="name" name="name" th:value="${object.getName()}"  th:errorclass="fieldError"/>
        </div>
        <div class="form-group">
            <label>Code</label>
            <input class="form-control" id="code" name="code" th:value="${object.getCode()}"  th:errorclass="fieldError"/>
        </div>
        <div class="form-group">
            <label>ParentCode</label>
<!--            <input class="form-control" id="parentCode" name="parentCode" th:value="${object.getParentCode()}" th:errorclass="fieldError" />-->
            <select class="custom-select" id="parentCode" name="parentCode" th:value="${object.getParentCode()}">
                <option th:each="item : ${lstParentCode}" th:value="${item}" th:selected="${object.getParentCode() == item}" th:text="${item}"></option>
            </select>
        </div>
        <div class="form-group">
            <label>Trạng thái</label>
            <select class="custom-select" th:value="${object.getActive()}" id="Active" name="Active" th:errorclass="fieldError">
                <option th:value="true">Active</option>
                <option th:value="false">Non Active</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Lưu</button>
    </form>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>